
	<h2>User info</h2>
   <%= attachment_image_tag user, :profile_image, :size, 100, 100, fallback: "no_image.jpg" ,format: 'no_image.jpg' %>
    <table class="table">
      </tbody>
        <tr>
         <th>name</th>
         <th><%= user.name %></th>
        </tr>
        <tr>
         <th>introduction</th>
         <th><%= user.introduction %></th>
        </tr>
      </tbody>
    </table>
    <p><%= link_to"",edit_user_path(user.id),  class: "btn btn-outline-dark btn-lg btn-block fas fa-user-cog" %></p>


  	<h2>New book</h2>
<%= form_with model: book, local: true do |f| %>
 <h4>Title</h4>
 <%= f.text_field :title %>
 <h4>Opinion</h4>
 <%= f.text_field :body %>
 <%= f.submit 'Create Book' %>
<% end %>